.project-container{
    display: flex;
    flex-direction: row;
    margin: 2% 20% 2% 20%;
    padding: 0;
    background-color: rgb(209, 209, 209);
}

.project-container img{
    margin: 2%;
    padding: 1%;
    height: 100px;
    background-color: rgb(130, 183, 214);
}

.project-container__names{
    margin: 1%;
    padding: 1%;
    background-color: rgb(209, 209, 209);
}