.nav-bar__right-links {
  padding: 0.5% 0.8% 0.5% 0.8%;
  margin: 0;
  text-decoration: none;
}

.nav-bar__right-links:hover{
  background-color: #004b74;
}

.nav-bar__right-links p{
  display: flex;
  text-align: center;
  color: white;
}
  